* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: table;
    width: 100%;
    height: 10vh; 
    position: relative;
    background-color: azure;
    border-bottom: 1px solid rgb(206, 199, 199);
}

.header-content {
    width: 960px;
    display: table-cell;
    position: absolute;
    height: 100%;
    transform: translate(20%);
    

}
.name {
    display: table;
    background-color: aquamarine;
    height: 100%;
    position: absolute;
}

h3 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    display: table-cell;
}

nav {
    float: right;
    display: table;
    height: 100%;
    background-color: aquamarine;
}

a {
    text-decoration: none;
    color: grey;
    display: table-cell;
    vertical-align: middle;
}

a:not(:last-child) {
    padding-right: 20px;
}

main {
    height: 88vh;
    position: relative;
}

.card {
    position: absolute;
    height: 80%;
    width: 960px;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);

}

h4 {
    color: aquamarine;
}

footer {
    background-color: aquamarine;
    height: 2vh;
}